<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="UTF-8"></script>
	</head>
	<body>
		<div id="app" class="loginView">
            <div class="top">
                <p class="tittle">{{ accountTittle }}</p>
                <input class="textBox" v-model="userName">
                <p class=" tittle">{{ passTittle }}</p>
                <input class="textBox" v-model="passWord" type="password">
            </div>

             <div class="bottom" style="margin-top: 100px;">
                <button type="button" @click="login">ログイン</button>
                <p>{{ war }}</p>
                <a href="http://www.google.com">{{ link }}</a>
            </div>
		</div>
		
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
                    accountTittle : "携帯番号またはメールアドレス",
                    passTittle : "パスワード",
                    war : "By proceeding you agree to there",
                    link : "Terms and Conditions",
                    userName : "",
                    passWord : ""
                },
                methods:{
                    login : function(){
                        alert("ユーザー：" + this.userName + "\nパスワード:" + this.passWord);
                    }
                }
			});
        </script>
        <style type="text/css">
            .loginView{
                margin: 0 auto;
                width: 375px;
                text-align: center;
            }
            .bottom{
                margin: 200rpx, 0, 0;
            }
			.tittle{
				height: 14rpx;
				font-size: 14rpx;
			}

        </style>
	</body>
</html>